<!-- Display title -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">About Me</h1>
  </div>
</div>
<div class="container">
  <h3>Education</h3>
  <p>
    I attended highschool at <span class="text-info">Eisenhower High School</span> in Yakima, WA. During my Junior year I joined the National Honor Society. In my Junior year I also started running start and attended <span class="text-info">Yakima Valley Community College</span> full time. I did running start throughout all of my Junior and Senior years.
  This is where most of my prerequisite classes were taken. During my Senior year I had to decide on my Senior Project so I decided on building a simple maze game built in Java. I had already been trying to teach myself programming for a year and half and this was a great learning experience. Once I graduated highschool I started to attend <span class="text-info">Central Washington University</span> in Ellensburg, WA. While there I started to focus on Computer Science since I worked with it on my Senior Project as well as was teaching myself programming before that.
  My focus while at CWU was more towards Software Engineering as well as on Mathematics. I worked hard during my time there and graduated in March 2017 with a Bachelor's of Computer Science and a minor in Mathematics. I also was on the Dean's List for 10 quarters in a row and graduated with an overall <span class="text-info">GPA of 3.48</span> and a Computer Science Major <span class="text-info">GPA of 3.779</span> and Mathematics <span class="text-info">GPA of 3.932</span>.
</p>

  <h3>Personal</h3>
  <p>I am always trying to keep current with all the new technologies that are released and updated every year which is why most of the time I am just messing around and trying to learn something new. In my spare time I also like to make mods for games. I have one big one for Minecraft and a few smaller ones for Garry's mod server that me and my friends play on occasionally. <br /> I also enjoy trying to develop apps using cross-platform frameworks like Ionic or building games in Unity and Unreal Engine. </p>
  <hr />
  <p>Besides spending time on the computer I also love the outdoors. I love to snowmobile and motorcycle as well as go camping or swimming.</p>

  <h3>Experience</h3>
  <p>As I have just graduated I have no real work experience besides what I have done at school and what I have worked on myself. Below is a list of things that I have worked with before. This is not 100% but the things I have used the most.</p>
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Languages</h4>
        <ul class="card-text">
          <li>Java - 5 Years</li>
          <li>Typescript / JavaScript - 2 Years</li>
          <li>HTML - 2 Years</li>
          <li>C# - 1 Year</li>
          <li>C++ - 6 Months</li>
          <li>Lua - 6 Months</li>
          <li>MySQL - 6 Months</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">IDE's / Tools</h4>
        <ul class="card-text">
          <li>Eclipse</li>
          <li>Visual Studio</li>
          <li>Unity</li>
          <li>IntelliJ IDEA</li>
          <li>Unreal Engine</li>
          <li>Atom</li>
          <li>Git</li>
          <li>Gradle</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Frameworks / Other</h4>
        <ul class="card-text">
          <li>Angular2+</li>
          <li>Ionic2</li>
          <li>Asp.NET</li>
          <li>Electron</li>
          <li>Bootstrap</li>
          <li>Windows</li>
          <li>Linux</li>
          <li>Android</li>
        </ul>
      </div>
    </div>
  </div>
</div>
